



.App-link {
  color: #1b5815;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .navbar {
  color: #37b62c;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect 
  padding: 50px;
  margin: 100px;
  text-align: center;
} */

.card::after{
  opacity: 0.2;
}

.column{
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
}

.Course-img {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
}




