

.App{
  text-align: center;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://www.golfdigest.com/content/dam/images/golfdigest/fullset/2018/07/10/5b45326bca4a3c573b0b592a_Trump-Golf-Links-at-Ferry-Point.jpg");
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover; 
  background-position: center; 
  
}

/* 
.navbar {
  color: #37b62c;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */


/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect 
  padding: 50px;
  margin: 100px;
  text-align: center;
} */



/* .column{
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
}

.Course-img {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
}


 */



